<div class="container-fluid mt-3">        
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Nazwa</th>
          <th>Kurs</th>
          <th>Strzeguły</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dolar Amerykański</td>
          <td>00</td>
          <td><a href="/dolar" class="btn btn-success">Strzeguły</a></td>
        </tr>
        <tr>
          <td>Frank Szwajcarski</td>
          <td>00 </td>
          <td><a href="/frank" class="btn btn-success">Strzeguły</a></td>
        </tr>
        <tr>
          <td> Funt Brytyjski</td>
          <td> 00</td>
          <td><a href="/pound" class="btn btn-success">Strzeguły</a></td>
        </tr>
      </tbody>
    </table>
    </div>