<div class="container-fluid mt-3">
    <h3>Kurs dolara</h3>          
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Nazwa</th>
          <th>Wartość</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nazwa waluty</td>
          <td>{{data.currency}}</td>
          </tr>
        <tr>
          <td>Kod</td>
          <td>{{data.code}}</td>
        </tr>
        <tr>
          <td>Data notowania </td>
          <td>{{curse_date[9]}}</td>
        </tr>
        <tr>
          <td>Kurs</td>
          <td>{{curse_value[9]}}</td>
        </tr>
      </tbody>
    </table>

    <div class="container-fluid mt-3">        
      <h3>Ostatnie 10 notowań </h3> 
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>Lp</th>
            <th>Data</th>
            <th>Wartość</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{curse_date[9]}}</td>
            <td>{{curse_value[9]}} pln</td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{curse_date[8]}}</td>
            <td>{{curse_value[8]}} pln</td>
          </tr>
          <tr>
            <td>3</td>
            <td>{{curse_date[7]}}</td>
            <td>{{curse_value[7]}} pln</td>
          </tr>
          <tr>
            <td>4</td>
            <td>{{curse_date[6]}}</td>
            <td>{{curse_value[6]}} pln</td>
          </tr>
          <tr>
            <td>5</td>
            <td>{{curse_date[5]}}</td>
            <td>{{curse_value[5]}} pln</td>
          </tr>
          <tr>
            <td>6</td>
            <td>{{curse_date[4]}}</td>
            <td>{{curse_value[4]}} pln</td>
          </tr>
          <tr>
            <td>7</td>
            <td>{{curse_date[3]}}</td>
            <td>{{curse_value[3]}} pln</td>
          </tr>
          <tr>
            <td>8</td>
            <td>{{curse_date[2]}}</td>
            <td>{{curse_value[2]}} pln</td>
          </tr>
          <tr>
            <td>9</td>
            <td>{{curse_date[1]}}</td>
            <td>{{curse_value[1]}} pln</td>
          </tr>
          <tr>
            <td>10</td>
            <td>{{curse_date[0]}}</td>
            <td>{{curse_value[0]}} pln</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="container-fluid mt-3">  
    <div class="card">
      <div class="card-header bg-dark text-white">Wykres ostanich 10 notowań</div>
      <div class="card-body">
        <div class="chart-container">
          <canvas  id="MyChart" >{{ chart }}</canvas>
        </div>
      </div>
    </div>
  </div>

 